<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @advice.user.username %>
</p>

<p>
  <strong>Category:</strong>
  <%= @advice.title %>
</p>

<p>
  <strong>Advice:</strong>
  <%= @advice.body %>
</p>

<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
